PORT=5000
MONGODB_URI=mongodb://localhost:27017/digital-textbook
# For MongoDB Atlas, use: mongodb+srv://<username>:<password>@cluster.mongodb.net/digital-textbook?retryWrites=true&w=majority
NODE_ENV=development
